@import '../../../variables';

@keyframes slide {
  from { 
    color: transparent;  
    background-color: transparent;
    border-color: transparent;
  }
}

.custom-select {
  position: relative;
  height: 2.5rem;
  width: 100%;
  background-color: $background-menu-color;
  border-bottom: 0.15rem solid $border-color;
  box-sizing: border-box;
  padding: 0.75rem 0 0 1rem;
  &__select {
    display: none;
  }
  &__options {
    animation: navdown 0.5s;
    background-color: $background-menu-color;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    color: $font-deep-color;
    border: 0.1rem solid transparent;
    border-top: 0.15rem solid;
    border-color:  $border-color;
    cursor: pointer;
    animation-name: slide;
    animation-duration: 0.5s;
    user-select: none;
    box-shadow: $shadow;
    &--hide {
      display: none;
    }
  }
  &__option {
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: $font-size-form;
    &:hover {
      background-color: $select-option-color;
    }
    &--selected {
      padding: 0.5rem 0 0.5rem 1rem;
      background-color: $select-option-color;
      animation-name: slide;
      animation-duration: 0.5s;
      font-size: $font-size-form;
    }
  }
  &__selected {
    font-size: $font-size-form;
    &:after {
      position: absolute;
      content: "";
      top: 1rem;
      right: 1rem;
      border: 0.4rem solid $border-color;
      border-color: $border-color transparent transparent transparent;
    }
    &--active:after {
      border-color: transparent transparent $border-color transparent;
      top: 0.5rem;
    }
  }
}
