
@import './_reset', './variables';

/*
** GLOBAL **
*/
body {
  @include background-color();
  font-family: $font-poppins;
  font-size: $font-weight-default;
  color: $title-deep-color;
}

.app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 70px auto auto;
}

.header {
  grid-area: header;
  top: 0;
  position: sticky;
}

.main {
  grid-area: main;
  min-height: calc(90vh - 70px - 20px);
  font-size: $font-weight-default;
}

.footer {
  grid-area: footer;
  margin-top: 20px;
}

.clickable {
  cursor: pointer;
}

.title {
  font-family: $font-poppins;
  font-size: 2.75rem;
  font-weight: $font-regular;
  color: $title-bright-color;
  &--signature {
    font-family: $font-source-sans;
    font-size: $font-title;
    font-weight: $font-light;
    color: $title-deep-color;
  }
}

.separator {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &__icon {
    @include separator('assets/icon6.svg');
  };
}

@media screen and (max-width: 992px) {
  .app {
    grid-template-rows: 200px auto auto;
  }
}